<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itlifelang.extrememovie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".mobile.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">

        <activity
            android:name=".mobile.ui.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">

        </activity>

        <activity
            android:name=".mobile.ui.WalkThroughActivity"
            android:theme="@style/Theme.App.Main" />

        <activity
            android:name=".mobile.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>
</manifest>
